* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: arial, sans-serif;
  font-size: 16px;
}

.clearfix {
  clear: both;
}

h1 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.content {
  height: calc(100% - 85px);
}

.content p {
  margin: 10px 10%;
}

.content:after {
  content: "";
  display: inline-block;
}

.pagination {
  width: 70%;
  margin: 0 auto;
  position: relative;
  bottom: 45px;
  text-align: center;
}

.pagination div {
  font-size: 1.25em;
  display: inline-block;
  padding: 5px 5px;
  border: 2px solid #808080;
  border-radius: 5px;
}

.pagination div:hover {
  cursor: pointer;
  background-color: #86c157;
  color: #fff;
}

.tostart, .previous {
  float: left;
  margin-right: 20px;
}

.next, .toend {
  float: right;
  margin-left: 20px; 
}

.pagination div:last-of-type:after {
  content: "";
  display: table;
  clear: both;
}

div.pagi {
  border: none;
}

.pagination div:hover.pagi {
  background-color: initial;
}

.pagi span {
  display: inline-block;
  border: 2px solid #808080;
  padding: 3px 5px;
  margin: -3px 3px;
  border-radius: 5px;
  color: #000;
}

.active {
  background-color: #86c157;
  color: #fff !important;
}


